.human {
  bottom: 0;
  position: fixed;
  background: url(../ressources/images/test.png);
  background-size: cover;
  width: 70vw;
  height: 65vw;
  max-width: 100vh;
  max-height: 82vh;
  z-index: 0;
  right: 0;
}

#landing-title {
  color:#356E63;
}